.btn{
    padding: 0.8em 1em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 2px solid $darkblue;
    border-radius: 7px;
    background-image: linear-gradient(-45deg, $blue, $pink);
    color: $white;
    &:hover,&:focus{
        @include hoverandfocus;
        transform: scale(1.1);
        color: $darkblue;
    }
}