.container{
    border: 5px solid $white;
    // border-radius: 30px 10px;
    border-image: linear-gradient(to right, $pink, $blue) 1; 
    box-shadow: 15px 10px 5px rgba(0,0,0,0.2);
    text-align: center;
    padding: 1.2em;
    margin: 1em;
    
    .p1{
        font-size: 2rem;
        font-weight: 500;
    }
    .p2{
        padding: 1rem;
        font-size: 1.25rem;
    }
}