h1{
    font-size: 1.5rem;

    @media screen and (min-width: 650px){
        font-size: 2rem;
    }
    span{
        color: $darkblue;
        font-size: 2.2rem;

        @media screen and (min-width: 650px){
            font-size: 3rem;
        }
    }
}