.social-media{
    display: flex;
    position: relative;
    padding: 1rem;
    &::before{
        content: 'Share:';
        margin-right: 0.5em;
        font-size: 1.3rem;
        padding-top: 5px;
    }
    .fb{
        margin-right: 0.2rem;
        &:hover, &:focus{
            @include hoverandfocus();
        }
    }
    .email{
        &:hover,&:focus{
            @include hoverandfocus();
        }
    }


    @media screen and (min-width: 650px) {
        left: 250px;
    }
}