@import './variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', 'sans-serif', 'Dancing Script';
    
}

body{
    // background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, $pink, $blue);
    color: $white;
    @media screen and (max-width: 400px){
        background: linear-gradient(-45deg, $blue, $darkblue);
        color: red;
    }
}

@mixin hoverandfocus{
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 250ms;
}


@import './container';
@import './flexCentre';
@import './header';
@import './socialmedia';
@import './button';
